---
layout: main
title: varoun.com
---


{% for post in site.posts %}
<section class="post">
    <header class="post-header">
        <img class="post-avatar"
             alt="Varoun's avatar" src="/img/common/varoun-avatar.png"
             height="48" width="48">

        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="post-meta">
            By <a class="post-author" href="#">varoun</a> under 
            {% for category in post.categories %}
            <a class="post-category post-category-{{ category }}" href="#">{{ category }}</a>
            {% endfor %}
            </p>
    </header>

    <div class="post-description">
        <p>{{ post.excerpt }}</p>
    </div>
</section>  
{% endfor %}